<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a routerLink="/home-page" class="icon-spacing"><i class="fa-solid fa-house fa-2xl"></i></a>
                    <a routerLink="/book-list" class="icon-spacing"><i class="fa-solid fa-list fa-2xl"></i></a>
                  </li>
                  
            </ul>
        </nav>
    </header>
<router-outlet></router-outlet>
