<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booktique</title>
</head>
<body>

    <section class="hero">
        <div class="content">
            <h1>Booktique</h1>
            <p>Booktique is a curated online destination for book lovers. 
              Just as a fashion boutique offers a carefully selected collection of clothing, 
              Booktique provides a refined selection of literary gems. 
              We believe that every reader deserves a personalized experience, 
              and we're committed to matching book enthusiasts with their perfect read.</p>
              <a routerLink="/book-list" class="btn">Book List</a>
        </div>
        <div class="bookshelf"></div>
    </section>

</body>
</html>
